GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
PORT=3001
MONGO_URI=mongodb://localhost:27017/favbytes
MAPBOX_TOKEN=pkyourcustomtokenhere
SESSION_SECRET=YOUR_SECRET_KEY
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_REGION=us-east-1
S3_BUCKET_NAME=your-bucket-name