@import 'tailwindcss';
@tailwind utilities;

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: true;
}

@plugin "daisyui/theme" {
  name: 'lemonade';
  default: false;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(98.71% 0.02 123.72);
  --color-base-200: oklch(91.8% 0.018 123.72);
  --color-base-300: oklch(84.89% 0.017 123.72);
  --color-base-content: oklch(19.742% 0.004 123.72);
  --color-primary: oklch(58.92% 0.199 134.6);
  --color-primary-content: oklch(11.784% 0.039 134.6);
  --color-secondary: oklch(77.75% 0.196 111.09);
  --color-secondary-content: oklch(15.55% 0.039 111.09);
  --color-accent: oklch(85.39% 0.201 100.73);
  --color-accent-content: oklch(17.078% 0.04 100.73);
  --color-neutral: oklch(30.98% 0.075 108.6);
  --color-neutral-content: oklch(86.196% 0.015 108.6);
  --color-info: oklch(86.19% 0.047 224.14);
  --color-info-content: oklch(17.238% 0.009 224.14);
  --color-success: oklch(86.19% 0.047 157.85);
  --color-success-content: oklch(17.238% 0.009 157.85);
  --color-warning: oklch(86.19% 0.047 102.15);
  --color-warning-content: oklch(17.238% 0.009 102.15);
  --color-error: oklch(86.19% 0.047 25.85);
  --color-error-content: oklch(17.238% 0.009 25.85);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

.app-container {
  height: 100vh;
  display: flex;
  background-color: #9c5273;
  flex-direction: column;
}

.content-row {
  flex: 1;
  background-color: #264e01;
  display: flex;
}

.sidebar {
  width: 15%;
  height: 100%;
  background-color: #fff7d9;
  flex-shrink: 0;
}

.main-area {
  flex: 1;
  display: flex;
  background-color: #829461;
  width: 85%;
  flex-shrink: 0;
  position: relative;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homePage {
  background-color: #abb95b;
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.map {
  flex: 1;
  max-width: 95%;
  top:0%;
  bottom:auto;
  padding: 5%;
  background-color: #abb95b;
  position: relative;
}



.current-image {
  background-color: #a92d63;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 25px;
}
.current-image-box1 {
  flex-direction: column;
  flex: 3 0 0;
}
.current-image-show-here {
  border-radius: 12px;
  max-height: 95%;
  background-color: #b8bce7;
  padding: 25px;
  width: 100;
}
.cur-img {
  border-radius: 12px;
  max-height: 95%;
  background-color: #0c133c;
  padding: 30%;
  width: 100;
}
.current-image-title {
  size: 95%;
  border-radius: 12px;
  height: auto;
  padding: 25px;
  background-color: #a0a5d2;
}
.current-image-box2 {
  flex: 1 0 0;
}
.current-image-description {
  size: 95%;
  border-radius: 12px;
  height: auto;
  padding: 25px;
  background-color: #a0a5d2;
}

.current-image-location {
  size: 95%;
  border-radius: 12px;
  height: auto;
  padding: 25px;
  background-color: #a0a5d2;
}

.current-image-tags {
  background-color: #902e4b;
  padding: 25px;
  height: 95%;
  border-radius: 12px;
}
.current-image-tag-list {
  height: 95%;
  background-color: #a4360eb0;
  padding: 5px;
  border-radius: 12px;
}

.image-upload {
  background-color: #2e3890;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 25px;
}
.image-upload-box1 {
  flex-direction: column;
  flex: 3 0 0;
}
.image-upload-show-here {
  border-radius: 12px;
  max-height: 95%;
  background-color: #b8bce7;
  padding: 25px;
  width: 100;
}
.upload-img {
  border-radius: 12px;
  max-height: 95%;
  background-color: #0c133c;
  padding: 30%;
  width: 100;
}
.image-upload-title {
  size: 95%;
  border-radius: 12px;
  height: auto;
  padding: 25px;
  background-color: #a0a5d2;
}
.image-upload-box2 {
  flex: 1 0 0;
}
.image-upload-description {
  size: 95%;
  border-radius: 12px;
  height: auto;
  padding: 25px;
  background-color: #a0a5d2;
}

.image-upload-location {
  size: 95%;
  border-radius: 12px;
  height: auto;
  padding: 25px;
  background-color: #a0a5d2;
}

.image-upload-tags {
  background-color: #902e4b;
  padding: 25px;
  height: 95%;
  border-radius: 12px;
}
.image-upload-tag-list {
  height: 95%;
  background-color: #a4360eb0;
  padding: 5px;
  border-radius: 12px;
}

.gallery-section {
  height: 25%;
  position: fixed;
  width: 100%;
  top: 75%;
  background-color: #ffc559;
  overflow-y: auto;
}
