@import 'tailwindcss';
@tailwind utilities;

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: true;
}

.color-pallet {
  background-color: #f1e3d3;
  background-color: #e07a5f;
  background-color: #1b4d3e;
  background-color: #690b22;
  background-color: #acbac4;
  background-color: #30364f;
  background-color: #e1d9bc;
  background-color: #f0f0db;
  background-color: #427a76;
  background-color: #5459ac;
  background-color: #393d7e;
  background-color: #f2aebb;
  background-color: #abb95b;
}
.app-container {
  height: 100vh;
  display: flex;
  background-color: #9c5273;
  flex-direction: column;

}

.content-row {
  flex: 1;
  background-color: #5459ac;
  display: flex;
}

.user-header{
  top: 0%;
  font-size: large;
  justify-content: center;
}

.sidebar {
  width: 15%;
  height: 100%;
  background-color: #acbac4;
  display: flex;
  flex-shrink: 0;
}
.gallery-section {
  height: 30%;
  position: fixed;
  width: 100%;
  top: 70%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  background-color: #427a76;
  overflow-y: auto;
  padding: 25px;
}
.gallery-item {
  display: flex;
  height: 90%;
  width: 90%;
  flex: 1;
  justify-content: space-around;
  padding: 25px;
  background-color: #30364f;
  border-radius: 12px;
  flex-direction: column;
}
.gallery-thumbnail {
  display: flex;
  flex: 1;
  background-color: #f2aebb;
  height: 90%;
  width: 90%;
  padding: 25px;
}
.swiper {
  display: flex;
  flex: 1;

  width: 95%;
  height: 95%;
}
.swiper-container {
  display: flex;
  width: 70%;
  height: 95%;
  text-align: center;
}

.swiper-slide {
  display: flex;
  flex: 1;
  background-color: rgb(4 47 46);
  color: #829461;
  width: 100%;
  padding: 25px;
  border-radius: 12px;
  font-size: 25px;
}

.swiper-slide:nth-child(2) {
  background-color: #acbac4;
}

.swiper-slide:nth-child(3) {
  background-color: #f0f0db;
}

.swiper-slide:nth-child(4) {
  background-color: #f1e3d3;
}

.swiper-slide:nth-child(5) {
  background-color: #e1d9bc;
}

.main-area {
  flex: 1;
  display: flex;
  background-color: #829461;
  height: 70%;
  flex-shrink: 0;
  position: relative;
  flex-direction: column;
}

.main-view {
  flex: 1;
  display: flex;
  size: 100%;
  flex-shrink: 0;
  position: relative;
  flex-direction: column;
}

.homePage {
  background-color: #abb95b;
  flex: 1;
  display: flex;
  justify-content: right;
  position: relative;
  width: 100%;
}

.map {
  flex: 1;
  border-radius: 12px;
  max-width: 70%;
  max-height: 95%;
  background-color: #abb95b;
  position: relative;
}

.current-image {
  background-color: #abb95b;
  flex: 1;
  display: flex;
  justify-content: right;
  position: relative;
  width: 100%;
}
.current-image-box1 {
  flex-direction: column;
  flex: 3 0 0;
}
.current-image-show-here {
  border-radius: 12px;
  max-height: 95%;
  background-color: #b8bce7;
  padding: 25px;
  width: 100;
}
.cur-img {
  border-radius: 12px;
  max-height: 95%;
  background-color: #0c133c;
  padding: 30%;
  width: 100;
}
.current-image-title {
  size: 95%;
  border-radius: 12px;
  height: auto;
  padding: 25px;
  background-color: #a0a5d2;
}
.current-image-box2 {
  flex: 1 0 0;
}
.current-image-description {
  size: 95%;
  border-radius: 12px;
  height: auto;
  padding: 25px;
  background-color: #a0a5d2;
}

.current-image-location {
  size: 95%;
  border-radius: 12px;
  height: auto;
  padding: 25px;
  background-color: #a0a5d2;
}

.current-image-tags {
  background-color: #f1e3d3;
  padding: 25px;
  height: 95%;
  border-radius: 12px;
}
.current-image-tag-list {
  background-color: #e1d9bc;
  padding: 5px;
  border-radius: 12px;
}

.image-upload {
  background-color: #5459ac;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 25px;
  bottom: 0%;
  position: relative;
  height: 100%;

  width: 100%;
}
.image-upload-box1 {
  flex-direction: column;
  flex: 3 0 0;
}
.image-upload-show-here {
  border-radius: 12px;
  max-height: 95%;
  background-color: #b8bce7;
  padding: 25px;
  width: 100;
}
.upload-img {
  border-radius: 12px;
  max-height: 95%;
  background-color: #0c133c;
  padding: 30%;
  width: 100;
}
.image-upload-title {
  size: 95%;
  border-radius: 12px;
  height: auto;
  padding: 25px;
  background-color: #a0a5d2;
}
.image-upload-box2 {
  flex: 1 0 0;
}
.image-upload-description {
  size: 95%;
  border-radius: 12px;
  height: auto;
  padding: 25px;
  background-color: #a0a5d2;
}

.image-upload-location {
  size: 95%;
  border-radius: 12px;
  height: auto;
  padding: 25px;
  background-color: #a0a5d2;
}

.image-upload-tags {
  background-color: #f1e3d3;
  padding: 25px;
  height: 95%;
  border-radius: 12px;
}
.image-upload-tag-list {
  background-color: #e1d9bc;
  padding: 5px;
  border-radius: 12px;
}
