@import 'tailwindcss';
@tailwind utilities;

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: true;
}
.app-container {
  height: 100vh;
  display: flex;
  background-color: bisque;
  flex-direction: column;
}

.content-row {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 250px;
background-color: indianred;
  flex-shrink: 0;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.map-section {
  flex: 1;
  min-height: 400px;
}

.gallery-section {
  height: 200px;
  background-color: olive;
  overflow-y: auto;
}